<h1>Stock List</h1> 
 
 <div class="nav-bar">
  <ul>
     <li> <a href="artists/new">Create New Artist</a> </li>
     <li> <a href="albums/new">Create New Album</a> </li>
     <li> <a href="artists">View Artists</a> </li>
     <li> <a href="albums">View Albums</a> </li>
  </ul>
 </div>

<br></br>

<table>
  <tr>
    <th>Artist</th>
    <th>Label</th>
    <th>Album</th>
    <th>Genre</th>
    <th>Wholesale Price</th>
    <th>Retail Price</th>
    <th>Stock Amount</th>
    <th>Markup</th>
    <th>Re-Order?</th>
  </tr>

  <% for album in @albums %>
  <tr>
    <td> <a href="artists/<%= album.artist_id %>/edit"> <%= album.artists.name %> </td>
    <td><%= album.artists.label %></td>
    <td><a href="albums/<%= album.id %>/edit"><%=album.name%></a></td>
    <td><%= album.genre %></td>
    <td><%= album.wholesale_price %></td>
    <td><%= album.retail_price %></td>
    <td><%= album.stock_amount %></td>
    <td><%= album.markup %></td>
    <td><%= album.stock_levels %></a></td>
  </tr>
  <% end %>
</table>

