<h1>Update Stock of: <%= @album_edit.name %> by <%= @album_edit.artists.name %> </h1>
<br></br>
<a href="/stock">Cancel</a>
<br></br>
<form action="/albums/update-stock/<%= @album_edit.id %>" method="post">
  <br></br>
  <!-- need to put quotes around attribute value or it will cut off at one word. -->
  Artist ID:<br>
    <input type="text" name="artist_id" value= "<%= @album_edit.artist_id %>" ><br>
  Album Name:<br>
    <input type="text" name="name" value= "<%= @album_edit.name %>" ><br> 
  Genre:<br>
    <input type="text" name="genre" value= "<%= @album_edit.genre %>" ><br>
  Wholesale Price:<br>
    <input type="text" name="wholesale_price" value= "<%= @album_edit.wholesale_price %>" ><br>
  Retail Price:<br>
    <input type="text" name="retail_price" value= "<%= @album_edit.retail_price %>" ><br>
  Stock Amount:<br>
      <input type="text" name="stock_amount" value= "<%= @album_edit.stock_amount %>" ><br>
      <input type="submit">
</form>